<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grading Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<form action="/questions/next" method="post">
    <div th:each="range : ${questionRange}">
        <h2 th:text="${range.chapter} + 장">1장</h2>
        <div th:each="question : ${range.questions}">
            <div class="d-flex">
                <span class="pe-2" th:text="${question.number} + 번">1번</span>
                <div>
                    <button type="button" class="scrap-btn" th:attr="data-id=${range.chapter+'_'+question.number}">알쏭달쏭</button>
                    <button type="button">모르겠다</button>
                </div>
            </div>
            <div>
                <label>
                    <input type="radio" th:attr="name=${question.number+'_answer'}">
                    1
                </label>
                <label>
                    <input type="radio" th:attr="name=${question.number+'_answer'}">
                    2
                </label>
                <label>
                    <input type="radio" th:attr="name=${question.number+'_answer'}">
                    3
                </label>
                <label>
                    <input type="radio" th:attr="name=${question.number+'_answer'}">
                    4
                </label>
            </div>
        </div>
    </div>
    <input type="hidden" name="scrap">
    <div>
        <a href="/">이전 페이지</a>
        <button type="submit">다음 페이지</button>
    </div>
</form>
<script src="/js/answer-selection.js"></script>
</body>
</html>